<div class="header">
    <div class="title">Weather App <img src="../assets/images/1651843_weather_snow_snowflake_winter_icon.png"
            alt="weathericon"></div>
</div>
<br>
<div class="nav">
    <input value="Pune" type="text" #input (click)="getData(input.value)">
    <button mat-raised-button color='primary' style="margin: 20px;" (click)="toggleUnit()"> Celcius / Farenheit
    </button>
    <!-- <button >Search</button> &nbsp;&nbsp; -->
</div> <br>
<div class="clock">
    <div class="seconds"></div>
    <div class="minutes"></div>
    <div class="minute"></div>
    <div class="hour"></div>
</div>

<div class="info" *ngIf="weatherData">
    <p class="city">
        {{weatherData.name}},{{weatherData.sys.country}}
    </p>
    <p class="temp" *ngIf="!unit">
        {{temperature}} °C
    </p>
    <p class="temp" *ngIf="unit">
        {{temperature}} F
    </p>
    <p>
        Min Temp: {{weatherData.main.temp_min}}°C <br>
        Max Temp: {{weatherData.main.temp_max}}°C
    </p>
    <p>
        Pressure: {{weatherData.main.pressure}}N/m2 <br>
        Humidity: {{weatherData.main.humidity}}g.m-3 <br>
        Wind: {{weatherData.wind.speed}}m/s
    </p>

</div> <br>
<router-outlet></router-outlet>